*{
    margin:0px;padding:0px;
    font-family: 'Noto Sans JP', sans-serif;
}
.title{
    height: 80px;
      width: 100%;
      background-color:#d5f1f3;
      position: fixed;
      z-index: 2;
  }
  .titlecharacter{
    font-size: 40px;
    position: absolute;
    left: 100px;
  }
  .icon{
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    transition:0.1s;
    position: absolute;
}
.tab{
    color:#ffffff;
    text-decoration:none;
    background-color:#42b9f5;
  }